.new-facility-helper-text {
    flex: 1;
    padding-left: 100px;
}

.new-facility-form {
    flex: 1;
    text-align: right;
    margin-right: 200px;
}

@media (max-width: 600px) {
    .new-facility {
        flex-direction: column;
    }
}