.facility-info-div {
    margin-top: 100px;
}

.facility-photo-and-info {
    display: flex;
    background-color: rgb(0, 129, 167);
    margin: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid rgb(0, 129, 167);
    box-shadow: rgba(0, 0, 0, 0.5) 3.95px 4px 2.6px;


} 

.clicked-facility-image {
    flex: 1;
    padding: 20px;
}

.clicked-facility-image img {
    width: 500px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.5) 3.95px 3.95px 2.6px;
    border-radius: 10px;
}

.clicked-facility-info {
    flex: 1;
    padding: 20px;
    color: white;
    text-align: left;
}

.clicked-facility-info h1{
    font-size: 45px;
    margin-top: -20px;
}

.clicked-facility-info h2{
    font-size: 30px;
    margin-top: -20px;
}

.facility-about {
    width: 80%;
    margin: auto;
    border: 2px solid rgb(0, 129, 167);
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 3.95px 3.95px 2.6px;

}

.facility-about p {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}


.facility-phone {
    margin-bottom: 0px;
}

.add-review-div {
    display: flex;
    flex-direction: row;
}

.add-review {
    height: 40px;
    width: 125px;
    color:white;
    border-radius: 50px;
    border-style: none;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
    background-color: #f07167;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 20px;
}

.star-rating {
    flex: 3;
}