nav {
  background-color: rgb(0, 129, 167, 0.8);
  height: 70px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

.left-side {
  flex: 2;
  text-align: left;
  margin-right: -75px;
  margin-left: 75px;
}

.no-user-left-side {
  flex: 1;
  text-align: left;
  margin-left: 75px;
}

.no-user-right-side {
  flex: 1;
  padding-top: 25px;
  padding-left: 800px;
}

.middle-side {
  flex: 3;
  padding-top: 25px;
  margin-right: 50px;
}

.sign-up {
  border-radius: 20px;
  padding: 8px;
  text-decoration: none;
  color: #fdfcdc;
  background-color: #f07167;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
}

.sign-in {
  margin-right: 20px;
  border-radius: 20px;
  padding: 8px;
  text-decoration: none;
  color: #fdfcdc;
  background-color: #f07167;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
}

.hospital {
  width: 200px;
  height: 25px;
  border-radius: 50px;
  border-style: none;
  background-color: #fdfcdc;
  margin-right: 20px;
  padding-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
}

.city {
  height: 25px;
  width: 140px;
  border-radius: 50px;
  background-color: #fdfcdc;
  margin-right: 20px;
  padding-left: 20px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
}

.state {
  height: 25px;
  width: 140px;
  border-radius: 50px;
  background-color: #fdfcdc;
  margin-right: 20px;
  padding-left: 20px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
}

.hospital-search {
  height: 27px;
  width: 80px;
  border-radius: 50px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
  margin-right: -150px;
  background-color: #00afb9;
  cursor: pointer;
}

.hospital-search:hover {
  background-color: #f07167;
}

.logo {
  width: 120px;
  margin: 0px;
  margin-top: -20px;
}

.user-profile-div {
  flex: 1;
  max-width: 100px;
}

.user-profile {
  display: flex;
  flex-direction: column;
}

.user-profile p {
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-right: 20px
}

.user-image {
  width: 40px;
  border-radius: 100%;
  position: absolute;
  right: 0px;
  margin-right: 40px;
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
}

.drop-down {
  background-color: rgb(0, 129, 167, 0.8);
  position: absolute;
  padding: 20px;
  width: 100px;
  border-bottom-left-radius: 10px;
  text-align: left;
  z-index: 100;
  margin-top: 4px;
  margin-left: -90px;
}

.Link {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  color: white;
}

